@font-face {
    font-family: 'dyna';
    src: url('../fonts/dyna_puff.ttf') format('truetype');
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    font-family: 'dyna', Arial, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.d-none {
    display: none;
}

h1 {
    margin-top: 0;
    margin-bottom: -20px;
    font-size: 178px;
    color: rgb(250, 245, 216);
    letter-spacing: 7px;
}

h2 {
    color: rgb(20, 34, 99);
    font-size: 5.3em;
}

h3 {
    color: rgb(20, 34, 99);
    font-size: 3.5em;
}

h4 {
    width: 440px;
    margin: 0;
    font-size: 90px;
    color: rgb(250, 245, 216);
    letter-spacing: 3px;
}

h1,
h4 {
    text-shadow:
        -1px -1px 0 #4e4e4e,
        1px -1px 0 #383838,
        -1px 1px 0 #535353,
        1px 1px 0 #505050,
        1px 0px 1px #CCCCCC,
        0px 1px 1px #EEEEEE,
        2px 1px 1px #646464,
        1px 2px 1px #EEEEEE,
        3px 2px 1px #9c9c9c,
        2px 3px 1px #EEEEEE,
        4px 3px 1px #CCCCCC,
        3px 4px 1px #EEEEEE,
        5px 4px 1px #979797,
        4px 5px 1px #EEEEEE,
        6px 5px 1px #6b6b6b,
        5px 6px 1px #EEEEEE,
        7px 6px 1px #aaaaaa,
        2px 2px 2px #000000,
        7px 6px 1px #aaaaaa;
}

span {
    cursor: default;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/description/beach-1110498.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

canvas {
    background-color: black;
    display: block;
}

.startscreen {
    position: relative;
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.start-button {
    height: 180px;
    width: 450px;
    background-color: rgb(231, 208, 3);
    border: 6px solid rgb(231, 208, 3);
    border-radius: 36px;
    margin: 10px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 1.5s infinite;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
    margin-right: -30px;
}

.start-button:before,
.settings-button:before,
.navigation-button:before,
.settings-text:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 30px;
    border: 4px solid rgba(21, 30, 92, 0.767);
}

.start-button:hover {
    animation: none;
    /* transform: scale(1.05); */
}

.settings-button,
.navigation-button {
    height: 150px;
    width: 360px;
    background-color: rgb(64, 238, 215);
    border: 6px solid rgb(64, 238, 215);
    border-radius: 36px;
    margin: 10px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    /* animation: pulse 1.5s infinite; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-button:hover,
.navigation-button:hover,
.difficulty-circle-btn:hover,
.sound-circle-btn:hover,
.back-btn:hover {
    transform: scale(1.15);
}

.difficulty-circle-btn,
.sound-circle-btn {
    height: 110px;
    width: 110px;
    background-color: rgb(64, 238, 215);
    border: 6px solid rgb(64, 238, 215);
    border-radius: 50%;
    margin: 25px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-btn {
    position: fixed;
    top: 35px;
    right: 35px;
    height: 65px;
    width: 65px;
    background-color: rgb(64, 238, 215);
    border: 6px solid rgb(64, 238, 215);
    border-radius: 50%;
    /* margin: 10px; */
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.difficulty-circle-btn:before,
.sound-circle-btn:before,
.back-btn:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 5px solid rgba(21, 30, 92, 0.767);
}

.back-btn:hover {
    background-color: rgb(231, 208, 3);
    border: 6px solid rgb(231, 208, 3);
}

.setting-icon {
    height: 57px;
    width: 57px;
    margin-left: 5px;
}

.fullscreen-icon {
    height: 57px;
    width: 57px;
}

.back-icon {
    height: 50px;
    width: 50px;
}

.change-display {
    flex-direction: column;
    gap: 25px;
}

.sound-container,
.difficulty-container {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.settings-text {
    width: 300px;
    height: 120px;
    font-size: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(64, 238, 215);
    border: 6px solid rgb(64, 238, 215);
    border-radius: 36px;
    margin: 10px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    margin-right: 50px;
}

.difficulty-icon {
    height: 70px;
    width: 70px;
}

.yellow-highlight {
    background-color: rgb(231, 208, 3) !important;
    border: 6px solid rgb(231, 208, 3) !important;
    border-radius: 50%;
}

.selection-text-container {
    position: absolute;
    top: 35px;
    font-size: 35px;
    color: rgb(250, 245, 216);
    letter-spacing: 1px;
    text-shadow:
        -1px -1px 0 #4e4e4e,
        1px -1px 0 #383838,
        -1px 1px 0 #535353,
        1px 1px 0 #505050;
    opacity: 0.95;
}

.instructions {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(231, 208, 3, 0.6);
    }

    70% {
        transform: scale(1.1);
        box-shadow: 0 0 0 10px rgba(231, 208, 3, 0.1);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(231, 208, 3, 0);
    }
}


/* @media only screen and (max-width: 1920px) {
    canvas {
        width: 100%;
    }
} */

@media only screen and (max-height: 1080px) {
    canvas {
        height: 100vh;
    }
}

@media (max-width: 1700px) {
    .start-button {
        height: 150px;
        width: 30%;
        margin-left: 0;
        margin-right: 0;
    }

    .settings-button,
    .navigation-button {
        height: 130px;
        width: 23%;
    }
}

@media (max-width: 1300px) {
    h2 {
        font-size: 4.5em;
    }

    h3 {
        font-size: 3em;
    }

    .start-button {
        height: 140px;
    }

    .settings-button,
    .navigation-button {
        height: 120px;
    }
}

@media (max-width: 1050px) {
    h2 {
        font-size: 4em;
    }

    h3 {
        font-size: 2.5em;
    }

    .start-button {
        height: 120px;
    }

    .settings-button,
    .navigation-button {
        height: 100px;
    }
}

@media (max-width: 900px) {
    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 2em;
    }

    .start-button {
        height: 100px;
    }

    .settings-button,
    .navigation-button {
        height: 80px;
    }
}