@font-face {
    font-family: 'dyna';
    src: url('../fonts/dyna_puff.ttf') format('truetype');
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    font-family: 'dyna', Arial, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
}

.d-flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    justify-content: center !important;
}

.pos-unset {
    position: unset !important;
}

h1 {
    margin-top: 0;
    margin-bottom: -20px;
    font-size: 178px;
    color: rgb(250, 245, 216);
    letter-spacing: 7px;
}

h2 {
    color: rgb(20, 34, 99);
    font-size: 5.3em;
}

h3 {
    color: rgb(20, 34, 99);
    font-size: 3.5em;
}

h4 {
    width: 370px;
    margin: 0;
    font-size: 4.5em;
    color: rgb(250, 245, 216);
    letter-spacing: 3px;
}

h5 {
    width: 150px;
    text-align: end;
    margin: 0;
    font-size: 75px;
    color: rgb(250, 245, 216);
    letter-spacing: 3px;
}

h6 {
    margin: 0;
    color: rgb(231, 208, 3);
    font-size: 10em;
}

h1,
h4,
h5,
h6 {
    text-shadow:
        -1px -1px 0 #4e4e4e,
        1px -1px 0 #383838,
        -1px 1px 0 #535353,
        1px 1px 0 #505050,
        1px 0px 1px #CCCCCC,
        0px 1px 1px #EEEEEE,
        2px 1px 1px #646464,
        1px 2px 1px #EEEEEE,
        3px 2px 1px #9c9c9c,
        2px 3px 1px #EEEEEE,
        4px 3px 1px #CCCCCC,
        3px 4px 1px #EEEEEE,
        5px 4px 1px #979797,
        4px 5px 1px #EEEEEE,
        6px 5px 1px #6b6b6b,
        5px 6px 1px #EEEEEE,
        7px 6px 1px #aaaaaa,
        2px 2px 2px #000000,
        7px 6px 1px #aaaaaa;
}

span {
    cursor: default;
}

p {
    font-size: 3em;
    margin: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.fs-4 {
    font-size: 4em !important;
}

.w-344 {
    width: 344px;
}

.w-690 {
    width: 690px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-120 {
    margin-top: 120px;
}

.mt-140 {
    margin-top: 140px;
}

.content {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/startscreen/beach.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

canvas {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vh * 16 / 9);
    height: 100vh;
    max-width: 100vw;
    max-height: calc(9 / 16 * 100vw);
}

.overlay-div {
    position: absolute;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vh * 16 / 9);
    height: 100vh;
    max-width: 100vw;
    max-height: calc(9 / 16 * 100vw);
}

.startscreen {
    position: relative;
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.startscreen-btn-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65%;
    width: 100%;
    gap: 30px;
    margin-top: 3%;
}

.start-button {
    height: 180px;
    width: 450px;
    background-color: rgb(231, 208, 3);
    border: 6px solid rgb(231, 208, 3);
    border-radius: 36px;
    margin: 10px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 1.5s infinite;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
    margin-right: -30px;
}

.start-button:before,
.settings-button:before,
.navigation-button:before,
.settings-text:before,
.keybindings-container:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 30px;
    border: 4px solid rgba(21, 30, 92, 0.767);
}

.start-button:hover {
    animation: none;
}

.settings-button,
.navigation-button {
    height: 150px;
    width: 360px;
    background-color: rgb(64, 238, 215);
    border: 6px solid rgb(64, 238, 215);
    border-radius: 36px;
    margin: 10px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keybindings-container {
    background-color: rgb(231, 208, 3);
    border: 6px solid rgb(231, 208, 3);
    border-radius: 36px;
    margin: 8px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-button:hover,
.navigation-button:hover,
.difficulty-circle-btn:hover,
.sound-circle-btn:hover,
.fullscreen-circle-btn:hover,
.back-btn:hover {
    transform: scale(1.15);
}

.difficulty-circle-btn,
.sound-circle-btn,
.fullscreen-circle-btn {
    height: 100px;
    width: 100px;
    background-color: rgb(64, 238, 215);
    border: 6px solid rgb(64, 238, 215);
    border-radius: 50%;
    margin: 25px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-btn {
    position: fixed;
    top: 35px;
    right: 35px;
    height: 65px;
    width: 65px;
    background-color: rgb(64, 238, 215);
    border: 6px solid rgb(64, 238, 215);
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.difficulty-circle-btn:before,
.sound-circle-btn:before,
.fullscreen-circle-btn:before,
.back-btn:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 5px solid rgba(21, 30, 92, 0.767);
}

.back-btn:hover {
    background-color: rgb(231, 208, 3);
    border: 6px solid rgb(231, 208, 3);
}

.setting-icon {
    height: 57px;
    width: 57px;
    margin-left: 5px;
}

.fullscreen-icon {
    height: 57px;
    width: 57px;
}

.back-icon {
    height: 50px;
    width: 50px;
}

.home-icon {
    height: 34px;
    width: 34px;
    margin-bottom: 3px;
    margin-right: 2px;
}

.home-icon-adjustment {
    margin-right: 0 !important;
}

.restart-icon {
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.change-display {
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.sound-container,
.difficulty-container {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.settings-text {
    width: 300px;
    height: 120px;
    font-size: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(64, 238, 215);
    border: 6px solid rgb(64, 238, 215);
    border-radius: 36px;
    margin: 10px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    margin-right: 50px;
}

.difficulty-icon {
    height: 68px;
    width: 68px;
}

.yellow-highlight {
    background-color: rgb(231, 208, 3) !important;
    border: 6px solid rgb(231, 208, 3) !important;
    border-radius: 50%;
}

.selection-text-container {
    position: absolute;
    top: 35px;
    font-size: 35px;
    color: rgb(250, 245, 216);
    letter-spacing: 1px;
    text-shadow:
        -1px -1px 0 #4e4e4e,
        1px -1px 0 #383838,
        -1px 1px 0 #535353,
        1px 1px 0 #505050;
    opacity: 0.95;
}

.instructions {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.overlay-container {
    height: 100px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 5vw;
    top: 0.8vh;
}

.coins-count-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 50px;
}

.coins {
    font-size: 1em;
    text-align: center;
}

.pause-screen {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 99;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.end-screen {
    position: absolute;
    z-index: 99;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back-btn-container-adjustment {
    height: 150px;
    justify-content: center;
}

.end-screen-container-adjustment {
    height: 180px;
    justify-content: center;
}

.resume-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.resume-box {
    display: flex;
}

.pufferfish-img {
    height: 100px;
    width: 120px;
}

.killerwhale-img {
    height: 150px;
    width: 150px;
    margin-top: 10px;
}

.navigation-bg {
    height: 90%;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navigation-row {
    height: 20%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-left: -300px;
}

.navigation-row-adjustment {
    margin-bottom: 5%;
}

.navigation-text {
    width: 55%;
    font-size: 4.2em !important;
}

.keybindings-movement {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keybindings-section {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-75 {
    width: 75px;
}

.coin-counter-img {
    height: 95px;
    width: 95px;
}

.mobile-movement-container,
.mobile-attack-container,
.mobile-pause-container {
    display: none;
    cursor: default;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(231, 208, 3, 0.6);
    }

    70% {
        transform: scale(1.1);
        box-shadow: 0 0 0 10px rgba(231, 208, 3, 0.1);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(231, 208, 3, 0);
    }
}

@media screen and (orientation:portrait) {
    .screen-rotate {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: #232323;
    }

    .screen-rotate span {
        font-size: 2em;
        color: rgb(250, 245, 216);
        text-align: center;
    }
}

@media screen and (orientation:landscape) {
    .screen-rotate {
        display: none;
    }
}

@media (max-width: 1700px) {
    .start-button {
        height: 150px;
        width: 30%;
        margin-left: 0;
        margin-right: 0;
    }

    .settings-button,
    .navigation-button {
        height: 130px;
        width: 23%;
    }

    .navigation-row {
        margin-left: -200px;
    }
}

@media (max-width: 1300px) {
    h2 {
        font-size: 4.5em;
    }

    h3 {
        font-size: 3em;
    }

    h6 {
        font-size: 8.5em;
    }

    .start-button {
        height: 140px;
    }

    .settings-button,
    .navigation-button {
        height: 120px;
    }

    .mt-50 {
        margin: 0;
    }

    .w-344 {
        width: 310px;
    }

    .coins-count-container {
        height: 80px;
    }

    .coin-counter-img {
        height: 75px;
        width: 75px;
    }

    .coins-count-container {
        gap: 25px;
    }

    .w-120 {
        width: 120px !important;
    }

    .navigation-row {
        margin-left: -25px;
    }
}

@media (max-width: 1050px) {
    h1 {
        font-size: 7em;
    }

    h2 {
        font-size: 3.7em;
    }

    h3 {
        font-size: 2.1em;
    }

    h4 {
        width: 260px !important;
        font-size: 3em !important;
    }

    h4,
    h5 {
        text-shadow:
            -1px -1px 0 #4e4e4e,
            1px -1px 0 #383838,
            -1px 1px 0 #535353,
            1px 1px 0 #505050,
            1px 0px 1px #CCCCCC,
            0px 1px 1px #EEEEEE,
            2px 1px 1px #646464,
            1px 2px 1px #EEEEEE,
            3px 2px 1px #9c9c9c,
            2px 3px 1px #EEEEEE,
            4px 3px 1px #CCCCCC,
            3px 4px 1px #EEEEEE;
    }

    h6 {
        font-size: 5.5em;
        margin-right: -70px;
    }

    .mt-140 {
        margin-top: 15px;
    }

    .start-button {
        height: 110px;
        width: 250px;
        order: 2;
    }

    .settings-button {
        height: 90px;
        width: 210px;
        order: 1;
    }

    .navigation-button {
        height: 90px;
        width: 210px;
        order: 2;
    }

    .startscreen-btn-box {
        flex-direction: row;
        height: 30%;
        margin-top: 7%;
        gap: 50px;
    }

    .navigation-text {
        font-size: 2.7em !important;
    }

    p {
        font-size: 1.8em;
        margin: 0;
    }

    .keybindings-container {
        height: 43px;
        width: 45px;
        border: 3px solid rgb(231, 208, 3);
        border-radius: 18px;
        margin: 4px;
    }

    .keybindings-container:before {
        border-radius: 16px;
        border: 3px solid rgba(21, 30, 92, 0.767);
    }

    .navigation-row-adjustment {
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .keybindings-cont-mobile {
        width: 140px;
    }

    .back-btn {
        top: 15px;
        right: 15px;
        height: 50px;
        width: 50px;
        border: 3px solid rgb(64, 238, 215);
    }

    .back-btn:before {
        border: 3px solid rgba(21, 30, 92, 0.767);
    }

    .home-icon {
        height: 28px;
        width: 28px;
        margin: 0;
        margin-bottom: 3px;
    }

    .change-display {
        gap: 10px;
    }

    .selection-text-container {
        display: none;
    }

    .difficulty-circle-btn,
    .sound-circle-btn,
    .fullscreen-circle-btn {
        margin: 12px;
    }

    .fullscreen-circle-btn,
    .sound-circle-btn,
    .difficulty-circle-btn {
        width: 65px;
        height: 65px;
    }

    .fullscreen-icon,
    .setting-icon {
        height: 35px;
        width: 35px;
    }

    .difficulty-icon {
        height: 38px;
        width: 38px;
    }

    .fs-4 {
        font-size: 3em !important;
    }

    .w-344 {
        width: 200px;
    }

    .w-690 {
        width: 450px !important;
    }

    .fs-4 {
        font-size: 2.4em !important;
    }

    .back-icon {
        height: 37px;
        width: 37px;
    }

    .restart-icon {
        height: 33px;
        width: 33px;
    }

    .back-btn-container-adjustment {
        height: 90px;
    }

    .end-screen-container-adjustment {
        height: 100px;
    }

    .resume-container {
        height: 90px;
    }

    .coin-img {
        height: 65px;
        width: 65px;
    }

    .pufferfish-img {
        height: 40px;
        width: 55px;
    }

    .killerwhale-img {
        height: 70px;
        width: 70px;
    }

    .resume-box {
        justify-content: center;
        align-items: center;
    }

    .counter {
        width: 80px !important;
        font-size: 2.6em !important;
    }

    .coins-count-container {
        height: 50px;
    }

    .coin-counter-img {
        height: 55px;
        width: 55px;
    }

    .w-120 {
        width: 90px !important;
    }

    .mobile-movement-container {
        position: absolute;
        z-index: 1;
        left: 15px;
        bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-movement-box,
    .mobile-attack-box,
    .mobile-pause-box {
        opacity: 0.9;
        height: 33px;
        width: 36px;
        background-color: rgb(231, 208, 3);
        border: 3px solid rgb(231, 208, 3);
        border-radius: 12px;
        margin: 2px;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
        transform: scale(1);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-movement-box p,
    .mobile-attack-box p,
    .mobile-pause-box p {
        font-size: 1.2em !important;
    }

    .mobile-movement-box:before,
    .mobile-attack-box:before,
    .mobile-pause-box:before {
        content: " ";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 9px;
        border: 2px solid rgba(21, 30, 92, 0.767);
    }

    .mobile-attack-container {
        position: absolute;
        z-index: 1;
        right: 15px;
        bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    .mobile-pause-container {
        position: absolute;
        z-index: 1;
        right: 15px;
        top: 15%;
        display: flex;
    }

    .w-70 {
        width: 70px !important;
    }
}

@media (max-width: 700px) {
    h1 {
        font-size: 6em;
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 1.7em;
    }

    .start-button {
        height: 95px;
        width: 200px;
    }

    .settings-button {
        height: 70px;
        width: 160px;
    }

    .navigation-button {
        height: 70px;
        width: 160px;
    }

    .startscreen-btn-box {
        height: 30%;
        gap: 25px;
    }

    .navigation-text {
        font-size: 2.3em !important;
    }

    .keybindings-container {
        height: 36px;
        width: 40px;
    }

    .keybindings-cont-mobile {
        width: 120px;
    }

    p {
        font-size: 1.6em;
    }

    .coins-count-container {
        height: 30px;
        gap: 0;
    }

    .coin-counter-img {
        height: 33px;
        width: 33px;
    }

    .w-120 {
        width: 60px !important;
    }
}