body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

canvas {
    background-color: black;
}